<html>
  <head>
    <title>Cooperativa Tech</title>
    <link rel="stylesheet" type="text/css" href="./index.css"/>
    <link
      href="https://fonts.googleapis.com/css?family=Exo+2:200,400,700&display=swap"
      rel="stylesheet"/>
  </head>

  <body>
    {% include "images/alien_ship.svg" %}
    {% include "elements/gallery_item.njk" %}

    <canvas id="background-noise"></canvas>
    <div class="centered">
      <div class="hero">
        <img
          class="hero-img"
          src="./images/logo.svg"
          alt="Coopeartiva's logo"/>
        <h1 class="hero-title">Cooperativa.tech</h1>
      </div>
      <p class="lead">
        We’re a group of tech professionals who gather to build cool, exciting
        stuff.
      </p>
      <p class="lead">
        <button class="link" onclick="queresFazTu()">
          Perhaps you have an awesome idea to share?
        </button>
      </p>
      <ul class="gallery">
        <gallery-item color="#E18AB3" img-visible="false" img="./images/jorge.png"></gallery-item>
        <gallery-item color="#48b9ce" img-visible="false" img="./images/jorge.png"></gallery-item>
      </ul>
    </div>

    <script>
      function queresFazTu() {
        alert("QUERES FAZ TU!");
      }
    </script>
    <script>
      window.addEventListener("load", function () {
        const $ship = document.getElementById("alien-ship");
        const $shipLight = $ship.querySelector(".ship-light");

        let timer;
        let moveTimer;
        let currentTarget;

        $ship.style.transition = "all 2s ease-in-out";
        $ship.style.top = document
          .getElementsByTagName("gallery-item")[0]
          .offsetTop - 50 + "px";

        Array
          .from(document.getElementsByTagName("gallery-item"))
          .map($item => {
            $item.addEventListener("mouseenter", event => {
              if (timer) 
                clearTimeout(timer);
              hoverShip(event.target);
            });

            $item.addEventListener("mouseleave", event => {
              if (timer) 
                clearTimeout(timer);
              timer = setTimeout(() => {
                hideShip();
              }, 5000);
            });
          });

        function hideShip() {
          clearTimeout(moveTimer);
          $ship
            .querySelector(".ship-light")
            .classList
            .add("invisible");
          moveTimer = setTimeout(() => {
            $ship.style.transform = null;
          }, 500);
        }

        async function hoverShip($el) {
          if ($el === currentTarget) 
            return;
          
          clearTimeout(moveTimer);

          const rect = $el.getBoundingClientRect();
          currentTarget = $el;

          if (!$shipLight.classList.contains("invisible")) {
            $shipLight
              .classList
              .add("invisible");
            moveTimer = setTimeout(() => {
              moveShip($el);
            }, 500);
          } else {
            moveShip($el);
          }
        }

        function moveShip($el) {
          const rect = $el.getBoundingClientRect();

          moveTimer = setTimeout(() => {
            moveShipToPosition(rect.left);
            moveTimer = setTimeout(() => {
              hideShipLights();
              showImage($el);
            }, 2000);
          }, 100);
        }

        function moveShipToPosition(leftPosition) {
          $ship.style.transform = `translate(${leftPosition + 220}px)`;
        }

        function hideShipLights() {
          $shipLight
            .classList
            .remove("invisible");
        }

        function showImage($el) {
          $el.setAttribute('img-visible', 'true')
        }
      });
    </script>
    <script>
      const maxOpacity = 0.7;
      const canvas = document.getElementById("background-noise");
      const ctx = canvas.getContext("2d");
      let x;
      let y;
      let number;
      let currentOpacity;

      canvas.width = window.innerWidth;
      canvas.height = 800;

      const state = new Array(canvas.width);

      for (x = 0; x < canvas.width; x++) {
        state[x] = new Array(canvas.height);

        for (y = 0; y < canvas.height; y += 1) {
          if (Math.random() * 10 < 9.2) {
            state[x][y] = false;
          } else {
            number = Math.floor(Math.random() * 100) + 150;
            currentOpacity = ((canvas.height - y) / canvas.height) * maxOpacity;
            state[x][y] = `rgba(${number},${number},255,${currentOpacity})`;
          }
        }
      }

      function redraw() {
        ctx.fillStyle = "rgba(0,0,0,1)";
        ctx.fillRect(x, y, canvas.width, canvas.height);

        for (x = 0; x < canvas.width; x += 1) {
          for (y = 0; y < canvas.height; y += 1) {
            if (state[x][y]) {
              ctx.fillStyle = state[x][y];
              ctx.fillRect(x, y, 1, 1);
            }
          }
        }
      }

      window.requestAnimationFrame(redraw);

      canvas.style.position = "fixed";
      canvas.style.top = 0;
      canvas.style.left = 0;
    </script>
  </body>
</html>